apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-app
spec:
  replicas: 1
  selector: 
     matchLabels:
       app: auth
  template:
    metadata:
      labels:
        app: auth
    spec:
      containers:
       - name: auth
         image: auth-img:v2
         imagePullPolicy: Never
         ports:
           - containerPort: 8080
         env:
           - name: DB_NAME
             valueFrom:
               secretKeyRef:
                 name: mysql-secret
                 key: mysql-db
           - name: DB_USER
             valueFrom:
               secretKeyRef:
                 name: mysql-secret
                 key: mysql-user
           - name: DB_PASSWORD
             valueFrom:
               secretKeyRef:
                 name: mysql-secret
                 key: mysql-pass
           - name: DB_HOST
             value: mysql-svc
           - name: DB_PORT
             value: "3306"
           - name: SECRET_KEY
             valueFrom:
               secretKeyRef:
                 name: mysql-secret
                 key: secert-key    
        