apiVersion: networking.k8s.io/v1
kind: NetworkPolicy
metadata:
  name: allow-ui-to-weather
  namespace: weather
spec:
  podSelector:
    matchLabels:
      app: weather        
  policyTypes:
    - Ingress
  ingress:
    - from:
        - namespaceSelector:
            matchLabels:
              name: ui
          podSelector:
            matchLabels:
              app: ui
      ports:
        - protocol: TCP
          port: 5000
