apiVersion: batch/v1
kind: Job
metadata:
  name: mysql-job
spec:
  template:
    spec:
      containers:
      - name: mysql-job
        image: mariadb:10.6
        env:
           - name: MYSQL_ROOT_PASSWORD
             valueFrom:
               secretKeyRef:
                 name: mysql-secret
                 key: root-pass
           - name: MYSQL_DATABASE
             valueFrom:
               secretKeyRef:
                 name: mysql-secret
                 key: mysql-db
           - name: MYSQL_USER
             valueFrom:
               secretKeyRef:
                 name: mysql-secret
                 key: mysql-user
           - name: MYSQL_PASSWORD
             valueFrom:
               secretKeyRef:
                 name: mysql-secret
                 key: mysql-pass
           - name: MYSQL_HOST
             value: mysql-svc
           - name: MYSQL_PORT
             value: "3306"
        command: [ "/bin/sh" , "-c" ]
        args: 
         - |
           mysql -h${MYSQL_HOST} -P${MYSQL_PORT} -uroot -p${MYSQL_ROOT_PASSWORD} <<END
           CREATE DATABASE IF NOT EXISTS weatherapp;
           CREATE USER '${MYSQL_USER}'@'%' IDENTIFIED BY '${MYSQL_PASSWORD}';
           GRANT ALL PRIVILEGES ON weatherapp.* TO '${MYSQL_USER}'@'%';
           FLUSH PRIVILEGES;
           END
      restartPolicy: Never