apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: statefull-mysql
spec:
  serviceName: "mysql-svc"  # this is the headless service
  replicas: 1
  selector:
    matchLabels:
     app: mysql
  template:
    metadata:
      labels:
        app: mysql
    spec:
      containers:
        - name: mysql
          image: mariadb:10.6
          ports:
           - containerPort: 3306
          env:
           - name: MYSQL_ROOT_PASSWORD
             valueFrom:
               secretKeyRef:
                 name: mysql-secret
                 key: root-pass
          volumeMounts:
           - name: mysql-data
             mountPath: /var/lib/mysql
  volumeClaimTemplates:
  - metadata:
      name: mysql-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      resources:
        requests:
          storage: 5Gi
      storageClassName: local-path